* {
    box-sizing: border-box
}

body {
    font-family: "V", monospace;
    font-size: 12px;
}

div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    min-width: 20%;
    height: 100%;
}

div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding-top: 0px;
    padding-left: 10px;
    border: 0px;
    width: 80%;
    height: 100%;
}

#title {
    font-size: 16px;
}

.shortdesc {
        font-weight: bold;
        font-size: 15px;
}

.desc {
        font-size: 13px;
}

.preformatted {
    font-size: 12px;
    white-space: pre;
}